@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --input: 214.3 31.8% 91.4%;
    --border: 214.3 31.8% 91.4%;

    --primary: 216 81% 47%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 45 93% 47%;
    --primary-foreground: 222.2 47.4% 11.2%;
  }
}

@layer components {
  .custom-background {
    background: radial-gradient(circle at top left,transparent 9%, #989898 10% ,#989898 15% , transparent 16%) , radial-gradient(circle at bottom left,transparent 9%, #989898 10% ,#989898 15% , transparent 16%), radial-gradient(circle at top right ,transparent 9%, #989898 10% ,#989898 15% , transparent 16%) , radial-gradient(circle at bottom right,transparent 9%, #989898 10% ,#989898 15% , transparent 16%),radial-gradient(circle, transparent 25%, #ffffff  26%),linear-gradient(45deg, transparent 46%, #989898 47%, #989898 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #989898 47%, #989898 52%, transparent 53%);
    background-size: 6em 6em;
    background-color: #ffffff;
    opacity: 1
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
